<h1>Help</h1>
<p>
  Steps for students:
</p>
<div  >
    <li id="one">First, go to "Signup" page and create an account by adding your email address and password which must be more than 6 characters.  </li>
    <li id="two">Once you signed up, you can use your email and password to login. </li>
    <li id="three">After login, you can select a team name and select your team members. Team's size should not exclude 6 members.</li>
    <li id="four">When the teams are approved by the professor, one from each team can select top and bottom 5 projects according to the team priority.</li> 
    <li id="five">Once the deadline is passed, the professor allots projects to all the teams. </li>
    <li id="six">Project is finally assigned and you are good to start your project. </li>
    <li id="five">Each team needs to submit a progress report before iteration's deadline.   </li>
    <li id="five">Please visit contact page for any further questions.   </li>
    <li id="six">All the best !!! </li>
  </ol>
</div>

<p>
  Steps for instructors:
</p>
<div  >
    <li id="one">The clients can directly go to "Add a project" page to add their project. </li>
    <li id="two">All the details regarding the project are mandatory. </li>
    <li id="three">Once the details are added, just submit the project and you are good to go.</li>
  </ol>
</div>
